/* */

body {
    font-family: Georgia, serif;
    font-size: 1.25em;
}

h1 {
    line-height: 1.2;
}

.content {
    max-width: 600px;
    line-height: 1.6;
}

a { color: inherit; text-decoration: none; }
.content a { background: yellow; }
.content a:hover { background: none; }

code { font-size: smaller; }

.content ol, .content ul {
    padding-left: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
}
