/* */

body {
    font-family: Georgia, serif;
    font-size: 1.25em;
}

div.header {
    font-family: 'Josefin Sans';
    font-size: 1.3em;
    text-align: right;
    margin-bottom: 3em;
    line-height: 1.2;
}

.date {
    font-style: italic;
    margin-bottom: 2em;
}

h1,h2,h3,h4,h5 {
    font-family: 'Josefin Sans';
    line-height: 1.2;
}

h1 {
    margin-bottom: 0.5em;
}
h2 {
    margin-bottom: 0.5em;
}
h3 {
    margin-top: 2em;
}

.content {
    max-width: 600px;
    line-height: 1.6;
}

a { color: inherit; text-decoration: none; }
.content a { background: yellow; }
.content a:hover { background: none; }

code { font-size: smaller; }

.content ol, .content ul {
    padding-left: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
}

hr.rule {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
